button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  font-family: inherit;
  background-color: #f6f7f9;
}

button:hover {
  background-color: antiquewhite;
}

button:active {
  background-color: rgb(249, 207, 153);
}
